/* footer.css */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    max-width: 80vw;
    margin: 2rem auto 0;
    border-top: 1px solid var(--color-border-light);
    color: var(--color-text-bright);
    font-size: 1rem;
}

.credits {
    text-align: left;
}

.counter-number {
    text-align: right;
}

.credits,
 .counter-number{
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-text-bright);
    background-color: var(--color-bg-secondary);
    border: 1px solid var(--color-border-light);
    border-radius: 10px;
    transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}
